.AppInput {
    color: var(--font-color);
    outline:none;
}

.auth {
    border: 1px solid black;
    background-color: transparent;
    outline: none;
    color: black;
    font: var(--font-m-mini)
}

.default {
    border-radius: 5px;
}

.outline {
    border-radius: 10px;
    background: var(--bg-color);
}

.clear {
    border:none;    
    color:black;
    background: var(--primary-color);
    outline: none;
}

.designed_primary {
    border-radius: var(--border-radius-type-1);
    border: 1px solid var(--outline-color-1);
    background: var(--subcolor-4-with-opacity);
}


@media (min-width:1024px) {
    .designed_primary
    {
        width:178px;
        height:37px;
    }
}

@media (max-width:1024px) {
    .designed_primary
    {
        width:120px;
        height:30px;
    }
}