.AppInput {
    color: var(--primary-color)
}

.auth {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    color: black;
    font: var(--font-m)
}

.default {
    border-radius: 5px;
}

.outline {
    border-radius: 10px;
    background: var(--bg-color);
}

.clear {
    border:none;    
    color:black;
    background: var(--primary-color);
    outline: none;
}
