.archTypeBox {
    border: 1px solid var(--subcolor-11);
    border-radius: var(--border-radius-type-3);
    padding:20px 10px 20px 8px;
    color:var(--subcolor-9);
    font-size: 0.7vw;
}

.input {
    width:29%;
    text-align: center;
    color:var(--subcolor-9);
    border-radius: var(--border-radius-type-3);
    border:1px solid var(--subcolor-11);
    flex-shrink: 1;
    font-size: 0.65vw;
}

.countInput {
    width:13%;

}

.title {
    width:20%;
    font-size: 0.65vw;

}

.ArchTypeBLock {
}
