:root {
    --font-family-main : georgia,"Times New Roman", serif;
    --font-family-sub-1 : mukta,"Times New Roman", serif;
    --font-size-xs : 10px;
    --font-line-xs: 18px;
    --font-xs : var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
    --font-xs-mini : 10px var(--font-family-main);
    --font-size-s : 14px;
    --font-line-s: 22px;
    --font-s : var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-s-test :12px var(--font-family-main);
    --font-size-m : 18px;
    --font-line-m: 26px;

    // --font-m : var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-m : 20px var(--font-family-main);
    --font-m-mini : 15px var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l :25px var(--font-family-main);
    --font-weight-navbar:800;

    // Стили для прозрачных компонентов
    --transparent-background-color: transparent;
    --transparent-text-color: white;

    //размеры
    --navbar-height: 80px;

    // --main-content-height: calc(100vh - 20%);
    --main-content-height: 80%;
    --sidebar-width: 100px;
    --sidebar-width-collapsed:20px;
    --tab-height:34.03px;
    --device-buttons:200px;
    --footer-height:15%;

    //индексы
    --modal-z-index:10;


    //цвета
    --overlay-color:rgb(0 0 0 / 60%);
    --auth-background-image:url('../../shared/assets/images/auth_back.jpg');
    --navbar-background-color: #01354A;


    //
    --border-radius-type-1:10px;
    --border-radius-type-2:20px;

    //курсоры
    --tree-cursor: default;
    --detail-cursor: default;


}