.DetailView {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-weight: normal;
    height: 100%;
    flex:1;

    // padding-left:20px;

}

.active {
    font-weight: bold;
}