.btns {
    margin-top: 5px;
    height:8%;
    z-index: var(--table-z-index);
}

.selectedBtn {
    box-shadow: 0 2px 2px 0 rgb(3 22 59 / 50%);
}

.SubcatTabs {
    user-select: none;
}

.mockcontent {
    background: var(--subcolor-4);
}