.PumpSubcategoryPage {
    width: 100%;
    height: 100%;
}

.contentBox{
    // flex: 1 0 85%;
    height:88%;
    width:100%;
    box-sizing: border-box;
}

.contentPaddings {
    padding:7px;
}



.tableContentFlexbox {
    border: 1px solid var(--subcolor-3);
    border-radius: var(--border-radius-type-2);
}


.paramTitle {
    padding-left: 8%;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.paramTitleSelected {
    padding-left: 4%;
    font-weight: bold;
}


.paramTitleBox {
    padding-top: 20px;
    background: var(--subcolor-4);
    font: var(--font-15-px);

    // padding:7px;
    color:var(--subcolor-9);
}

.paramGroups {
    width:100%;
    flex-wrap: wrap;
    column-gap:10%;
}


.preview {
    font-size:0.6vw;
    flex-grow: 0;
}

.previewVal {
    width:20%;
    height:90%;
    background: var(--subcolor-1);
    color:white;
    border-radius: var(--border-radius-type-4);
    text-align: center;
}

.previewName {
    width:65%;
    height:90%;
}

.previewBox {
    padding-left: 10%;
}
