.headerBox {
    // flex:1 0 12%;
}

.subcatNameBox {
    width:23%;
    text-align: center;
    padding:10px;
}


.subCatNameWrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}


.headers {
    color:var(--subcolor-9);
}

.subsystemNameField {
    vertical-align: middle;
    font:var(--font-18-px);
    font-weight: bold;
}

.subcatObjectInfo {
    width: 70.7%;

}


.objectInfoContainer {
    justify-content: space-around;
    padding:5px;
}

.dropdwn {
    height:50%;
    width:40%;
}

.subcatObjectInfoTextGroup {
    font:var(--font-16-px);
    font-weight: bold;
    background: var(--subcolor-4);
    color:var(--subcolor-9);
    border-radius: var(--border-radius-type-3);
    box-shadow: var(--sub-shadow-light);

}

.btns {
    width:40%;
}


.subCatObjInfoWrapper {
    border:1px solid white;
    font:var(--font-m-mini);
    display:flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--border-radius-type-1);
    width:100%;
    height:40%;
    padding:5px;
}

.objectInfoTextField {
    white-space: nowrap;
    font:var(--font-12-px);
}