.AuthPage {
    width:100%;
    height:100%;
}

.title {
    font-size: 1.25rem;
    color:var(--subcolor-1);
    font-weight: bold;
}

.navbar  {
    margin-bottom: 2.5%;
}

.form {
    width:25%;
    height:65%;
    background: var(--subcolor-5);
    box-shadow: var(--primary-shadow);
    border-radius: var(--border-radius-type-2);
}


@media (width >=1300px) {
    .form {
        width:30%;
    }
}

@media (width <=1299px) {
    .form {
        width:40%;
    }
}

@media (width >768px) {
    .logoIcon {
        width: 100px;
        height: 100px;
    }
}

@media (width <=768px) {
    .form {
        width:85%;
        height:76%;
    }

    .logoIcon {
        width: 48px;
        height: 48px;
    }
}