.heatArchives {
    display: flex;
    flex-direction: column;
}

.pollBlock {
    display: flex;
    flex-direction: row;
    gap:5px;
    margin:10px;

    // flex-direction: column;
}

.reportBlock {
    width:100%;
    display: flex;
    gap:5px;
    margin:10px;
    flex-direction: column;
}

.recordInfo {
    display: flex;
    justify-content: space-between;
    width:100%;

    // flex-grow: 3;
    // white-space: nowrap;
}

.formData {
    display: flex;
}


.infoBlock {
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
}

.sysRow {
    display: flex;
    width:100%;
    justify-content: flex-start;
    gap:22%;
}

.inf {
    width:10%;
    white-space: nowrap;
    margin-right: auto;

    // margin-left: auto;
    // margin-right: auto;
}