.AdministrationPage {
    display: flex;
    flex-direction: column;
    gap:10px;
    height:100%;
    width:100%;
}

.detail {
    width:75%;
    display: flex;
    justify-content: center;

    // border:1px solid black;
    border-left: none;

}

.innertabs {
    background: white;
}

.tabs {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    gap:16px;
    margin-bottom: 10px;
}

.btn {
    width:200px;
}


.cards {
    display: flex;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 80%;
    flex-wrap: wrap;
    gap:10px;
    align-content: flex-start;
}

.orgData{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.offset {
    margin-left:30px;
}