.AdministrationPage {
    height:100%;
    width:100%;
}

.detail {
    width:100%;
    height:100%;

    // border:1px solid black;

}

.buttonBox {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background: var(--subcolor-3);
    border-radius: var(--border-radius-type-2);
    height:100%;
    width:45%; 
}

.buttonBoxTitle {
    color: var(--subcolor-1);
    font:var(--font-m);
    font-weight: bold;
}

.btn {
    height:7%;
    font-size: 0.65rem;
}