.archTypeBox {
    border: 1px solid var(--subcolor-11);
    border-radius: var(--border-radius-type-3);
}

.input {
    width:80%;
    height:50%;
    color:var(--subcolor-9);
    border-radius: var(--border-radius-type-3);
    border:1px solid var(--subcolor-11);

    // flex-shrink: 1;
}

.title {
    width:52%;
    margin-right: 7px;
}

.SystemsBlock {
    // margin-left:20px;
    white-space: nowrap;
}

.dateTitle {
    width:17%;
}