.rowHeader {
    box-shadow: var(--shadow-alt);
    padding-left: 3.3%;
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    font:var(--font-16-px);
    font-weight: bold;
    font-size:0.8vw;
    color:var(--subcolor-9);
    min-height: 6%;

    // text-transform: uppercase;
}

.headerField {
    // text-align: center;
    width:10%;

}

.adressField {
    width:20%;
}


.timestampField {
    width:20%;
}

.rows {
    font:var(--font-14-px);
    font-weight: bold;
    font-size: 0.7vw;
    color:var(--subcolor-9);
}

.row {
    box-shadow: var(--shadow-redesign);
    width:98.4%;
    border-radius: var(--border-radius-type-3);
    margin-left:1.6%;
    white-space: nowrap;
}

.addingRow {
    padding-left: 4.7%;
}

.redmarker{
    background: var(--info-gradient-red-reversed);

}

.greymarker{
    background: var(--info-gradient-gray-reversed);

}

.orangemarker{
    background:var(--info-gradient-orange-reversed);

}

.greenmarker{
    background: var(--info-gradient-green-reversed);

}

.nameField{
    width:80%;
}

.countField{
    display: flex;
    align-items: center;
    justify-content: center;
    width:7%;
    height:70%;
    text-align: center;
    background: white;
    border-radius: var(--border-radius-type-3);
    color:var(--subcolor-9);

}

.eventField{
    display: flex;
    align-items: center;
    padding: 7px;
    width:45%;
    height:70%;
    border-radius: var(--border-radius-type-3);
    border:1px solid var(--subcolor-9);
    font-size: 0.8vw;
    font-weight: bold;
}

.datetimeField{
    width:10%;
    font-size: 0.8vw;
    font-weight: bold;
    text-align: center;
}

.expanded {
    min-height:30%;
}

.catRow {
    flex-shrink: 0;
}


.icon {
    // position: absolute;
    // right: 25px;
    // bottom:10px;
    width:30px;
    height:30px;
    opacity: 0.85;
}

.addIcon {
    width:20px;
    height:20px;
}