.content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width:100%;
    height: var(--main-content-height);
    padding-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.MainLayout {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarwrapper {
    display: flex;
    box-sizing: border-box;
    width:100%;
    height:var(--main-content-height);

    // height:100%;
}

.listWithGeneral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:25% ;
    height:100%;
    padding-top: calc(var(--tab-height) + 10px);

}