.generalDeviceInfoCard {
    background: var(--subcolor-6);
    padding:7px;
    color:var(--subcolor-3-with-opacity);

}

.cards {
    height:14.5vh;
    border-radius: var(--border-radius-type-1);

    // background:var(--subcolor-3);   
}

.generalInfoTitle {
    color:var(--subcolor-3);
    font:var(--font-16-px);
}

.generalCardTextWrapper {
    display: flex;
    padding-left:2%;
    align-items: center;
    color:var(--subcolor-3);
    font:var(--font-m-extra-mini);
    border: 1px solid white;
    border-radius: var(--border-radius-type-3);
    width:40%;
}


.longTextGeneralCard {
    width:100%;
    height:30%;

}


.deviceDate {
    width:100%;
    height:100%;
}


.generalCardItems {
    flex: 1 0 19%;
    font:var(--font-12-px);
}