.baloon {
    width:400px;
    height: 400px;
}

.systemRow {
    box-shadow: var(--shadow-redesign);
    border-radius: var(--border-radius-type-3);
}

.greymarker{
    background: var(--info-gradient-gray);

}

.greenmarker{
    background: var(--info-gradient-green);

}