.generalDeviceInfoCard {
    background: var(--subcolor-4);

    // padding:7px;
    color:var(--subcolor-9);

}


.generalInfoTitle {
    font:var(--font-16-px);
}

.generalCardTextWrapper {
    display: flex;
    margin:5px;
    padding-left: 5px;
    align-items: center;
    font:var(--font-12-px);
    font-weight: bold;
    border: 1px solid rgb(62 85 128 / 50%);
    border-radius: var(--border-radius-type-3);
}


.longTextGeneralCard {
    width:95%;
    height:5.5%;
}


.deviceDate {
    width:100%;
}


.generalCardItems {
    height:95%;
}

.rowInp {
    height:100%;
}

.mainData {
    height:30%;
}

.subtitle {
    padding-left: 5px;
    font:var(--font-12-px);
    font-weight: bold;
    color:rgb(62 85 128 / 50%);
}