.paramValueWrapper {
    border-radius: var(--border-radius-type-3);
    background: var(--subcolor-11);

    // font:var(--font-12-px);
    width:15%;
    height:80%;
}

.valueField {
    width:70%;
}

.selected {
    opacity:0.8;
}

.paramVerboseWrapper {
    display:flex;
    align-items: center;
    padding-left:15px;
    height:80%;
    color:rgb(3 22 59 / 70%);
    width:45%;
    border-radius: var(--border-radius-type-3);
}

.paramVerboseWrapperWide {
    width:60%;
}


.paramRow {
    flex: 1 50px;

    // font-size: 0.70vw;
    font-weight: normal;
}

.tagWrap {
    width:35%;
    border: 1px solid var(--subcolor-9);
    border-radius: var(--border-radius-type-3);

    // font-size: 0.65vw;
}


@media screen and (width <= 768px) {
    .paramValueWrapper {
        width:30%;
        height:100%;
    }

    .paramRow {
        flex: 1 20px;
    }
}