.ObjectListItem {
    display: flex;
    padding-left: 10px;
    font-weight: normal;

}


.nested {
    display: flex;
    flex-direction: column;
}

.selected {
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}