.Colontitul {
    background: var(--subcolor-3);
    border-radius: var(--border-radius-type-1);
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.input {
    border: 1px solid var(--subcolor-1);
    border-radius: var(--border-radius-type-3);
    width:40%;
}