.container {
    display: flex;
    flex-direction: row-reverse;

    // flex-direction: column;
    align-items: center;

    // padding-left: 9.85%;
}

.loadbox {
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap;

    // gap:100px;

    // gap:50px;   
    align-items: flex-end;

    // padding-left: 20px;
}

.btn {
    width:var((--device-buttons));
    min-width: var(--device-buttons);
    height:40px;

    // margin-top: 10px;
    // margin-left: 20px;
}