.container {
    display: flex;

    // padding-left: 8.05%;
    flex-direction: row-reverse;
    align-items: flex-start;
    height:min-content;
    margin-bottom: 0;
    padding-bottom: 0;
}

.loadbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
}

.btn {
    min-width:200px;
    height:40px;

    // margin-top: 15px;

}