.DetailView {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    // flex-direction: column;
    height: min-content;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 4.1%;
    padding-right: 4.1%;

}


.parameterTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    width: 100%;
    cursor:var(--detail-cursor);

}

.parameterRow {
    display: flex;
    justify-content: space-between;
    margin-right: -10%;
    width: 75%;
    border:none;    
    border-bottom: 1px solid rgb(0 0 0 / 21.9%);

}

.parameterVal {
    margin-right:7px;
    margin-left:7px;
}

.valueWithDimension {
    display: flex;
    justify-content: flex-start;
    width:70%;
    gap:3px;
}

.systemsRow {
    display: flex;
    flex-direction: column;
}

.systemBox{
    width:90%;
    margin-top: 5px;
    margin-left: 10px;

}

.deviceTitle {
    padding-left: 20px;
    font-size: var(--font-line-s);
}

.pollBtn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    // flex-grow: 0;

    // margin-right: 15%;
    font-size: var(--font-line-xs);

}

.dateRow {
    padding-left: 20px;
}

.generalInfo{
    display: flex;
    flex-direction: column;
}

.parameterComment{
    // margin-left: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: 10%;
    padding-left: 20px;
}

.parameterName {
    width: 30%;
}

.featureBox {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    width:100%  ;
}

.autoFlagBox {
    display: flex;
}