.Sidebar {
    width: var(--sidebar-width);
    background: grey;
    position: relative;
    height:calc(100vh - 5.5%);

    // height:100%;
    transition: width 0.3s;
}




.collapseBtn {
    position: absolute;
    right: 20%;
    bottom: 50%;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: rgb(243 238 238 / 48.6%);
    width: inherit;
    height: inherit;
    transform: scale(1);

}

.collapsed {
    width: var(--sidebar-width-collapsed);
}