.statistic {
    // height:32%;
    flex: 1 0 32%
}

.counters {
    // height:60%;
    flex: 1 0 60%
}


@media screen and (width <= 768px) {
    .content {
        // min-height: 360px;
        height: 100%;
        width: 100%;
        margin-top: 10px;
    }
}
