.ElectroDevicePage {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

.detail {
    width:75%;
    display: flex;

    // border:1px solid black;
    border-left: none;

}

.deviceBtns{
    display: flex;
    gap:16px;
}

.btnsWithDevice {
    display: flex;
    flex-direction: column;
}