.PollBlock {
    width:38%;
    box-shadow: var(--shadow-redesign);
    border-radius: var(--border-radius-type-3);
    font-size: 0.7vw;
}

.content {
    border: 1px solid white;
    border-radius: var(--border-radius-type-1);
}

.input {
    color:var(--subcolor-9);
    height:100%;
    border-radius: var(--border-radius-type-3);
    flex:1 0 60%;

}

.inputDate{
    color:var(--subcolor-9);
    height:100%;
    border-radius: var(--border-radius-type-3);
    border: 1px solid var(--subcolor-11);
    flex:1 0 30%;
    background: var(--subcolor-4);
}



.row {
    border: 1px solid white;
    border-radius: var(--border-radius-type-1);
    padding: 10px 7px;
    margin-top: 3px;
}

.first_row {
    margin-top: 10px;
}

.btn {
    width: 25%;
    color:var(--subcolor-9);
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    font-size: 0.7vw;
}

.btn_selected {
    opacity: 0.8;
}

.radio {
    background-color: var(--subcolor-3);
}

.counter {
    width:20px;
}

.counterLabel {
    flex: 1 0 80%;
}

.pollBtn {
    color:var(--subcolor-9);
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    height:10%;
    width:90%;
    margin-bottom: 10px; 
}

.blockTitle {
    background:var(--subcolor-4);
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-type-3);
    font-weight: bold;
}