.PollBlock {
    width:40%;
}

.content {
    border: 1px solid white;
    border-radius: var(--border-radius-type-1);
}

.input {
    color:var(--subcolor-3);
    height:100%;
    border-radius: var(--border-radius-type-3);
    flex:1 0 60%;

}

.inputDate{
    color:var(--subcolor-1);
    height:100%;
    border-radius: var(--border-radius-type-3);
    flex:1 0 30%;
    background: var(--subcolor-3);
}



.row {
    border: 1px solid white;
    border-radius: var(--border-radius-type-1);
    padding: 10px 7px;
    margin-top: 3px;
}

.first_row {
    margin-top: 10px;
}

.btn {
    color:var(--subcolor-1);
    background: var(--subcolor-3);
    border-radius: var(--border-radius-type-3);
    flex:1 0 20%;
}

.btn_selected {
    opacity: 0.8;
}

.radio {
    background-color: var(--subcolor-3);
}

.counter {
    width:20px;
}

.counterLabel {
    flex: 1 0 80%;
}

.pollBtn {
    color:var(--subcolor-1);
    background: var(--subcolor-3);
    border-radius: var(--border-radius-type-1);
    height:10%;
    width:90%;
    margin-bottom: 10px; 
}