.DetailView {
    background: var(--primary-color);
    width:60%;
    height:100%;
    justify-content: flex-start;
}


.cards {
    display:flex;
    flex-direction: row;
}

.expandable {
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    gap:16px;

}