.titleBlock {
    box-shadow: var(--sub-shadow-light);
    border-radius: var(--border-radius-type-3);
    font:var(--font-14-px);
    color:var(--subcolor-9);
    white-space: nowrap;
}

.autoFlagBox {
    display: flex;
}

.headerBlock {
    background: var(--subcolor-4);
    font-size:1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.data {
    font-size: 0.65rem;
    font-weight: bold;
    padding-left: 15px;
}

.field {
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    font-size: 0.65rem;
    padding-left:5px;

}

.dtfield {
    background: transparent;
    border: 1px solid rgb(53 94 171 / 20%);
    border-radius: var(--border-radius-type-3);
}

.item {
    width:55%;
    font-size: 0.75rem;
}

.datetimeItem {
    width:45%;
}

.inverted {
    background: rgb(255 152 152 / 32%);
}


@media screen and (width <= 768px) {
    .titleBlock {
        font-size: 0.65rem;
        height: auto;
    }

    .headerBlock {
        font-size: 0.6rem;
        min-height: 30px;
    }
    
    .data {
        font-size: 0.45rem;
        justify-content: space-between;
    }
    
    .field {
        font-size: 0.45rem;
    
    }

    .item {
        font-size: 0.5rem;
    }


}