.parametersModal {
    flex-wrap: wrap;
    width:40vw;
}

.parametersModalAuto {
    height:80vh;
    flex-wrap: wrap;
    width:40vw;
}

.modal {
    height: 90%;
    overflow-y: auto;
}

.datetimepicker {
    color:var(--subcolor-9);
    font-size: 0.7vw;
}