.light {
    // --bg-color:white ;
    --bg-color-1:#8C969D;
    --bg-color-2:#011E30;
    --inverted-bg-color: #bdbdbd;
    --primary-color: #fbfbfb;


    //утилити цвета для плашек кнопок и тд 
    --subcolor-1 : #355EAB;
    --subcolor-2 : #688996;
    --subcolor-3 : white;
    --subcolor-4 : #E5EEFF;
    --subcolor-5 : #D4E1E6;
    --subcolor-6 : #4C6774;
    --subcolor-7: #8EA8B3;
    --subcolor-8: #EDF9FF;
    --subcolor-9:#03163B;
    --subcolor-10:#F2F5FB;
    --subcolor-11:#CBD8EF;
    --subcolor-12:#3E5580;
    --subcolor-4-with-opacity : rgb(217 217 217 / 34%);
    --subcolor-1-with-opacity : rgb(1 53 74 / 34%);
    --subcolor-3-with-opacity : rgb(212 224 230 / 80%);
    --color-for-hints:rgb(53 94 171 / 32%);


    //тени
    --primary-shadow: 4px 4px 10px #D4E0E6;
    --sub-shadow-dark: 4px 4px 12px #01354A;
    --sub-shadow-light:0px 2px 2px 0px #CBD8EF;
    --param-box-shadow:0px 4px 4px 0px #CBD8EF;
    --shadow-alt:0px 2px 2px 0px rgb(3 22 59 / 50%);
    --shadow-redesign: 2px 2px 4px 0px rgb(53 94 171 / 32%);

    //градиенты
    --info-gradient-red :linear-gradient(270deg, #DB2C2C 0%, #FFF 11%, #FFF 100%);
    --info-gradient-gray :linear-gradient(90deg,white,85%,#7F828E);
    --info-gradient-orange :linear-gradient(90deg,white,85%,#FBB989);
    --info-gradient-green :linear-gradient(90deg,white,85%,#74C285);
    --info-gradient-red-reversed:linear-gradient(270deg,white,89%,#DB2C2C);
    --info-gradient-gray-reversed:linear-gradient(270deg,white,89%,#7F828E);
    --info-gradient-orange-reversed :linear-gradient(270deg,white,89%,#FBB989);
    --info-gradient-green-reversed :linear-gradient(270deg,white,89%,#74C285);
    --object-gradient-red :linear-gradient(90deg, #E5EEFF 0%, rgb(203 216 239 / 30%) 75%, #F35E67 100%);
    --object-gradient-gray :linear-gradient(90deg, #E5EEFF 0%, rgb(203 216 239 / 30%) 75%, #FFA825 100%);
    --object-gradient-orange :linear-gradient(90deg, #E5EEFF 0%, rgb(203 216 239 / 30%) 75%, #FFA825 100%);
    --object-gradient-green :linear-gradient(90deg, #E5EEFF 0%, rgb(203 216 239 / 30%) 75%, #FFA825 100%);


    //прозрачности
    --default-opacity: 0.1


        

    
        --secondary-color: #        B4        ;
    --font-color: #ABC8DE;
    --outline-color-1: #ABC8DE;
};