.app.light {
    --bg-color:white ;
    --inverted-bg-color: #bdbdbd;
    --primary-color: #fbfbfb;

    // --primary-color: #b4b2b2;

    // --primary-color: #fbbbbb;
    --secondary-color: #4682B4;
    --font-color: #000;
};