.app.light {
    // --bg-color:white ;
    --bg-color-1:#8C969D;
    --bg-color-2:#011E30;
    --inverted-bg-color: #bdbdbd;
    --primary-color: #fbfbfb;


    //утилити цвета для плашек кнопок и тд 
    --subcolor-1 : #01354A;
    --subcolor-2 : #688996;
    --subcolor-3 : #D4E0E6;
    --subcolor-4 : #D9D9D9;
    --subcolor-5 : #D4E1E6;
    --subcolor-4-with-opacity : rgb(217 217 217 / 34%);


    //тени
    --primary-shadow: 4px 4px 10px #D4E0E6;
    --sub-shadow-dark: 4px 4px 12px #01354A;

    //градиенты
    --info-gradient-red :linear-gradient(90deg,var(--subcolor-3),85%,#F35E67);
    --info-gradient-gray :linear-gradient(90deg,var(--subcolor-3),85%,#7F828E);
    --info-gradient-orange :linear-gradient(90deg,var(--subcolor-3),85%,#FBB989);
    --info-gradient-green :linear-gradient(90deg,var(--subcolor-3),85%,#74C285);


    //прозрачности
    --default-opacity: 0.1


        

    
        --secondary-color: #        B4        ;
    --font-color: #ABC8DE;
    --outline-color-1: #ABC8DE;
};