.pumpDevice {
    display: flex;  
    justify-content: space-between;
    margin-right:10%;
    margin-left:5%;
}

.group_parameter {
    margin-left:20px;
    display:flex;
    flex-direction: column;
}

.btn {
    width:var(--device-buttons)
}

.title {
    font-size:var(--font-line-m)
}

.groupBox {
    margin-left: 20px;
}

.logWindow {
    display: flex;
    flex-flow: column;
    max-width: 85vw;
    max-height: 85vh;
    overflow-y: auto;
}