.main {
    color:var(--subcolor-9);
    font:var(--font-14-px);
    font-size: 0.8vw;
}

.canHeader {
    border-radius: var(--border-radius-type-3);
    box-shadow: var(--sub-shadow-light);
    font-weight: bold;
    background: transparent;
    flex-shrink: 0;
}

.selectedCan{
    background: var(--subcolor-4);
}

.countersField {
    box-shadow: var(--sub-shadow-light);
    overflow-y: auto;
    padding:7px;
    padding-top: 14px;
}

.row {
    flex-shrink: 0;
    min-height: 12%;
}

.canVerbDev {
    height:65%;
    border:1px solid rgb(34 34 34 / 20%);
    border-radius: var(--border-radius-type-3);
    text-transform: lowercase;
    padding-left: 5px;
    padding-right: 5px;
}