.ObjectCategoryView {
    margin-bottom: 3%;
    display:flex;
    flex-direction: column;
    width:22%;
    height:40%;
    background: var(--subcolor-4-with-opacity);
    border-radius: var(--border-radius-type-2);
    box-shadow: var((--primary-shadow));
    font:var(--font-m-mini);
    color:#FFFF;
    row-gap: 3.4%;
    cursor: pointer;

    // width:100%;
    // overflow: auto;

}

.cardHeader {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left:20px;
    row-gap:5px;
    width:100%;
    height:25%;
    border-radius: var(--border-radius-type-2) ;
    border: 1px solid  var(--subcolor-4)
}

.sysCountPref {
    font:var(--font-m-mini)
}

.systemsBox {
    overflow-y: auto;
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: center;
    row-gap: 4%;
    height:75%;
}

.systemLine {
    display: flex;
    position: relative;
    justify-content: space-between;

    // padding-left:25px;
    // padding-right:25px;
    align-items: center;
    width: 78%;
    height: 18%;
    border-radius: var(--border-radius-type-1);
    background: var(--subcolor-3);
    color:var(--subcolor-1);
    box-shadow: var(--sub-shadow-dark);
    font-weight: bold;
}

.icon {
    // position: absolute;
    // right: 25px;
    // bottom:10px;
    width:35px;
    height:35px;
    opacity: 0.85;
}

.redmarker{
    background: var(--info-gradient-red);

}

.greymarker{
    background: var(--info-gradient-gray);

}

.orangemarker{
    background:var(--info-gradient-orange);

}

.greenmarker{
    background: var(--info-gradient-green);

}

@media (min-width:1500px)
{
    .ObjectCategoryView {
        width:17%;
    }
}

@media (max-width:1170px)
{
    .ObjectCategoryView {
        width:30%;
    }
}