.ObjectCategoryView {
    margin-bottom: 0.5%;
    display:flex;
    flex-direction: column;
    width:18%;
    height:30%;

    // padding-top: 15px;
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    box-shadow: var((--shadow-redesign));
    font:var(--font-14-px);
    font-size:0.8vw;
    color:#03163B;
    row-gap: 3.4%;
    cursor: pointer;

    // width:100%;
    // overflow: auto;

}

.cardHeader {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    border:1px solid var(--subcolor-9);

    // background: red;

    // padding-top: 10px;
    row-gap:5px;
    width:100%;
    font-size:0.62vw;
    border-radius: var(--border-radius-type-3) ;
}

.objType {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size:0.75vw;

}

.addr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sysCountPref {
    font-weight: normal;
    font-size:0.6vw;

}

.systemsBox {
    overflow-y: auto;
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 4%;
}

.systemLine {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 5px;

    // padding-left:25px;
    // padding-right:25px;
    align-items: center;
    width: 78%;
    height: 28%;
    min-height: 28%;
    max-height: 28%;
    border-radius: var(--border-radius-type-3);
    background: var(--subcolor-3);
    color:var(--subcolor-9);
    box-shadow: var(--sub-shadow-dark);
    font-size: 0.64vw;
    font-weight: bold;
}

.datetimeField {
    font-size: 0.55vw;
    text-align: center;
    padding-bottom: 3px;
}




.redmarker{
    background: var(--info-gradient-red);

}

.greymarker{
    background: var(--info-gradient-gray);

}

.orangemarker{
    background:var(--info-gradient-orange);

}

.greenmarker{
    background: var(--info-gradient-green);

}

@media (min-width:1500px)
{
    .ObjectCategoryView {
        // flex: 1 0 30%; /* explanation below */
        
    }
}

@media (max-width:1170px)
{
    .ObjectCategoryView {
        // flex: 1 0 28%; /* explanation below */

    }
}


@media (max-width:1170px)
{
    .ObjectCategoryView {
        // flex: 1 0 25%; /* explanation below */

    }
}


@media (max-height:750px)
{
    .ObjectCategoryView {
        height:60%;

    }
}