.detail {
    width:75%;
    display: flex;

    // border:1px solid black;
    border-left: none;
}

.HeatNodePage {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

.nodeCont{
    display: flex;
    flex-direction: column;

    // height:95%;
}

.nodeBtn {
    padding: 0;
    margin-right:20px;
}