.StaffRow {
    display: flex;
    width:80%;
    height: min-content;
    align-items: center;
    border:none;
    border-radius: 5px;

    // border: 1px solid black;
    box-shadow: 0 2px rgb(0 0 0 / 20%);
    background: rgb(235 226 226 / 56.8%);
    margin:10px;
}

.dataColumn {
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
}