.SettingsPage {
    width: 100%;
    height: 100%;
    font: var(--font-14-px);
    color:var(--subcolor-9);
    font-weight: bold;
    font-size: 0.8vw;
    user-select: none;
}



.plate {
    flex-wrap: wrap;
}




.feature {
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    text-align: center;
    cursor: pointer;
}