.form {
    width:100%;
    margin-bottom:3%;
    height:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authInp {
    border: 1px solid black;
    background: transparent;
    font:var(--font-m);
    margin-top:2%;
    width:80%;
    height:18%;
}