.auth_button {
    border:none;
    border-bottom: 1px solid black;
    color:black;
    cursor: pointer;
    background: transparent;
    outline:none;
}

.primary_btn {
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--navbar-background-color);
    background-color: var(--navbar-background-color);
}