

.auth_button {
    border:none;
    border-bottom: 1px solid black;
    color:black;
    cursor: pointer;
    background: transparent;
    outline:none;
}

.primary_btn {
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--navbar-background-color);
    background-color: var(--navbar-background-color);
}

.button_outline {
    background: transparent;
    border: 1px solid black;
    width:16%;
    height:46.03px;
    font:var(--font-s);
    border-radius: 10px;

    // border-top-right-radius:25px;
    cursor: pointer;

    // margin-left:1px;
    padding:3px;
}

.designed_outline{
    font:var(--font-m);
    color:var(--font-color);
    border-radius: var(--border-radius-type-1);
    border:1px solid var(--outline-color-1);
    background: transparent;
    cursor: pointer;
}

.shadow_btn {
    height:var(--tab-height);
    font:var(--font-s);
    box-shadow: 0 2px rgb(0 0 0 / 20%);
    background: rgb(185 183 183 / 56.8%);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;

}

.shadow_btn::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 10px 20px rgb(0 0 0 / 40%);

}

.shadow_btn:active::after {
    // box-shadow: 0 0 0 0 white;
    box-shadow: 0 2px rgb(0 0 0 / 20%);
    position: absolute;
    border-radius: 5px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}


.designed_primary {
    cursor: pointer;
    background: var(--subcolor-1);
    color:white;
    border-radius: var(--border-radius-type-1);
}

@media (min-width:1024px) {
    .designed_outline
    {
        width:111px;
        min-width: fit-content;
        height:37px;
    }
}

@media (max-width:1024px) {
    .designed_outline
    {
        width:100px;
        height:30px;
    }
}