.auth_button {
    border:none;
    border-bottom: 1px solid black;
    color:black;
    cursor: pointer;
    background: transparent;
    outline:none;
}

.primary_btn {
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--navbar-background-color);
    background-color: var(--navbar-background-color);
}

.button_outline {
    background: transparent;
    border: 1px solid black;
    width:16%;
    height:46.03px;
    font:var(--font-s);

    // border-top-right-radius:25px;
    cursor: pointer;

    // margin-left:1px;
    padding:3px;
}