.AddAutoDevice {
    display:flex;
    flex-direction: column;
}

.feature {
    background: var(--subcolor-4);
    border-radius: var(--border-radius-type-3);
    text-align: center;
    cursor: pointer;
}