.CategoryListItem {
    display: flex;
    flex-direction: column;
    cursor: var(--tree-cursor);
    font-weight: normal;
}

.selected {
    font-weight: bold;
}

.textWithIcon {
    display: flex;
    padding-right:10px;

    // justify-content: center;
    align-items: center;
    justify-content: space-between;
}