.ObjectCategoryView {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: auto;

}

.cards {
    display: flex;
    height:100%;
    flex-basis: 20%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.cardContent {
    justify-content: center;
    align-items: center;
}