.Footer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    background: var(--subcolor-4) ;
    border-radius: var(--border-radius-type-1);

    // height:var(--footer-height);
    text-align: end;
    font:var(--font-16-px);
    color:var(--subcolor-9);
}