.Footer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    background: rgb(128 128 128 / 40.4%) ;
    height:var(--footer-height);
    text-align: end;
}