.content {
    display: flex;
    justify-content: center;
    width:100%;
    height: var(--main-content-height);
    padding-top: 10px;
    padding-left: calc(100%*0.10);
    padding-right: calc(100%*0.10);
}

.MainPage {
    width:100%;
    height:100%;
}