.content {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width:100%;
    height: var(--main-content-height);
    padding-top: 10px;
    padding-left: calc(100% * 0.10);
    padding-right: calc(100% * 0.10);
}

.MainPage {
    width:100%;
    height:100%;
}

.sidebarwrapper {
    display: flex;
    box-sizing: border-box;
    width:100%;
    height:var(--main-content-height);

    // height:100%;
}

.listWithGeneral {
    flex-direction: column;
}

.toDevice {
    overflow:auto;
}

.nodeCont{
    display: flex;
    flex-direction: column;
}