.paramFlexBox {
    // flex:1 0 15%;
    font:var(--font-m-extra-mini);
    color:var(--subcolor-9);
    background: var(--subcolor-3);
    border-radius: var(--border-radius-type-3);
    padding-bottom:5px;
    font-size: 0.75rem;
    font-weight: bold;
    box-shadow: var(--param-box-shadow);
}


.paramBoxHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top:1%;
    width:100%;
    height:12%;
    border-radius: var(--border-radius-type-3);
    background: var(--subcolor-4);
    text-align: center;
    box-shadow: 0 4px 4px 0 rgb(203 216 239 / 25%);
    margin-bottom:4%;
}



.paramNameField {
    font:var(--font-16-px);
    font-weight: bold;
    width:10%;
}




.dimensionField {
    font:var(--font-8-px);
    width:25%;
}




.rows {
    row-gap: 10px;
    overflow-y: auto;
}

.groupWrap {
    flex:1;
    padding-top: 5px;
    align-items: stretch;

}

.row {
    height:55px;
    flex-shrink: 0;
}


.groupLabel {
    color:rgb(3 22 59 / 70%);
    font:var(--font-14-px);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    height:5%;
    padding-left: 15px;
    font-size: 0.75rem;
    margin-bottom: 7px;
}


@media screen and (width <= 768px) {
    .paramFlexBox {
        width:100%;
        font-size: 0.5rem;
        margin-top:10px ;
    }

    .paramBoxHeader {
        min-height: 40px;
    }
}