.ObjectCard{
    position: relative;
    display:flex;
    flex: 1 0 21%; /* explanation below */
    font:var(--font-m-mini);

    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:15%;
    border-radius: var(--border-radius-type-3);
    background: linear-gradient(90deg,var(--subcolor-4),90%,#FBB989);
    box-shadow: var(--primary-shadow);
    color:var(--subcolor-9);
}

.objectTitle {
    font:var(--font-16-px);
    font-weight: bold;
    text-transform: uppercase;
}

.redmarker{
    background: var(--object-gradient-red);

}

.greymarker{
    background: var(--object-gradient-gray);

}

.orangemarker{
    background:var(--object-gradient-orange);

}

.greenmarker{
    background: var(--object-gradient-green);

}


.cardContent {
    // text-align: center;
    height:100%;
}

.icon {
    position: absolute;
    width:15%;
    aspect-ratio: 1/1;
    right: 10%;
    bottom:25%;
    color:red;
}

.textBlock {
    display: flex;
    gap:2%;
    width:60%;
    height:90%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    margin:2% 20% 2% 5%;
}

.postfix {
    font: var(--font-s-test);
    font-style: italic;
}

@media (width <=1234px) {
    .ObjectCard {
        font:var(--font-m-extra-mini);
        flex: 1 0 30%; /* explanation below */
        width:25%;

    }

    .postfix {
        font: var(--font-xs-mini);
        width: 30%;
    }
}

@media (width <=1100px) {
    .ObjectCard {
        width:50%;
    }
}

@media (width <=964px) {
    .ObjectCard {
        flex: 1 0 45%; /* explanation below */

    }
}



@media (height <=800px) {
    .ObjectCard {
        font:var(--font-s-test);
    }
}

@media screen and (width <= 768px) {
    .ObjectCard {
        width:100%;
        flex: 1 0 20%; /* explanation below */
        flex-basis: 20%;
        font-size: 0.5rem;
        max-height:80px;
    }

    .objectTitle {
        font-size: 0.6rem;
        white-space: nowrap;
    }

    .postfix {
        font-size: 0.3125rem;
        white-space: nowrap;
    }
}