.ObjectCard{
    position: relative;
    display:flex;
    flex: 1 0 21%; /* explanation below */
    font:var(--font-m-mini);

    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:20%;
    height:12%;
    border-radius: 19px;
    background: linear-gradient(90deg,var(--subcolor-3),90%,#FBB989);
    box-shadow: var(--primary-shadow);
    color:var(--subcolor-1);
}

.redmarker{
    background: var(--info-gradient-red);

}

.greymarker{
    background: var(--info-gradient-gray);

}

.orangemarker{
    background:var(--info-gradient-orange);

}

.greenmarker{
    background: var(--info-gradient-green);

}


.cardContent {
    // text-align: center;
    height:100%;
}

.icon {
    position: absolute;
    width:12%;
    aspect-ratio: 1/1;
    right: 10%;
    bottom:25%;
}

.textBlock {
    display: flex;
    gap:2%;
    width:60%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin:2% 20% 2% 5%;
}

.postfix {
    font: var(--font-s-test);
    font-style: italic;
}

@media (max-width:1234px) {
    .ObjectCard {
        font:var(--font-m-extra-mini);

    }

    .postfix {
        font: var(--font-xs-mini);

    }
}