.ObjectCard{
    position: relative;
    display:flex;
    flex: 1 0 21%; /* explanation below */
    font:var(--font-m-mini);
    // flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right:27px;
    margin-bottom: 60px;    
    width:346px;
    max-width:346px;
    height:130px;
    border-radius: 19px;
    background: linear-gradient(90deg,var(--subcolor-3),90%,#FBB989);
    box-shadow: var(--primary-shadow);
    color:var(--subcolor-1);
}

.redmarker{
    background: var(--info-gradient-red);

}
.greymarker{
    background: var(--info-gradient-gray);

}
.orangemarker{
    background:var(--info-gradient-orange);

}
.greenmarker{
    background: var(--info-gradient-green);

}


.cardContent {
    // text-align: center;
    height:38px;
}

.icon {
    position: absolute;
    right: 15px;
    bottom:20px;
}

.textBlock {
    display: flex;
    gap:5px;
    width:60%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 17px;
    margin-right: 89px;
}

.postfix {
    font: var(--font-s-test);
    font-style: italic;
}