.DropdownMenu {
    min-height: 0;
    list-style-type: none;
    cursor: pointer;
    background: transparent;
    position: relative;
}

.header {
    border-radius: var(--border-radius-type-3);
    border: 1px solid var(--subcolor-11);

}

.icon{
    height: 15px;
    width:15px;
}

.rotatedIcon {
    transition: transform 0.4s;
    transform: rotate(90deg);
}

.content {
    position: absolute;
    top:50%;
    border-radius: var(--border-radius-type-3);
    border: 1px solid var(--subcolor-11);
    padding:2px;
}

