.DropdownMenu {
    min-height: 0;
    list-style-type: none;
    cursor: pointer;
    background: var(--subcolor-10);
    border-radius: var(--border-radius-type-3);
}



.icon{
    height: 15px;
    width:15px;
}

.rotatedIcon {
    transition: transform 0.4s;
    transform: rotate(90deg);
}



