.CategoryListItem {
    padding-left:10px;
    display: flex;
    flex-direction: column;
    cursor: var(--tree-cursor);
    font-weight: normal;
}

.selected {
    font-weight: bold;
}

.textWithIcon {
    display: flex;

    // justify-content: center;

    align-items: center;
}