.categoryPage {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    flex-wrap: wrap;
}



.detail {
    // width:75%;
    display: flex;
    justify-content: flex-start;
    width:100%;
    // border:1px solid black;
    border-left: none;
    flex-wrap: wrap;

}