.preview {
    font-size:0.6vw;
    flex-grow: 0;
}

.previewVal {
    width:20%;
    height:90%;
    background: var(--subcolor-1);
    color:white;
    border-radius: var(--border-radius-type-4);
    text-align: center;
    padding-top: 0.1%;
}

.previewName {
    width:65%;
    height:90%;
}

.previewBox {
    padding-left: 10%;
}


@media screen and (width <= 768px) {
    .previewBox {
        min-height: 100px;
    }

    .preview {
        font-size:0.5rem;
    }

    .previewVal{
        min-height: 20px;
        padding-top:1%;
    }
}